In [4]:
import os
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [3]:
mc_df = pd.read_excel('/content/drive/MyDrive/Colab Notebooks/GitHub/AI-ExpertFW-Prj/dataset/modcloth.xlsx')
mc_df.head()

,item_id,waist,size,quality,cup size,hips,bra size,category,bust,height,user_name,length,fit,user_id,shoe size,shoe width,review_summary,review_text
0,123373,29.0,7,5.0,d,38.0,34.0,new,36,5ft 6in,Emily,just right,small,991571,NaN,NaN,NaN,NaN
1,123373,31.0,13,3.0,b,30.0,36.0,new,NaN,5ft 2in,sydneybraden2001,just right,small,587883,NaN,NaN,NaN,NaN
2,123373,30.0,7,2.0,b,NaN,32.0,new,NaN,5ft 7in,Ugggh,slightly long,small,395665,9.0,NaN,NaN,NaN
3,123373,NaN,21,5.0,dd/e,NaN,NaN,new,NaN,NaN,alexmeyer626,just right,fit,875643,NaN,NaN,NaN,NaN
4,123373,NaN,18,5.0,b,NaN,36.0,new,NaN,5ft 2in,dberrones1,slightly long,small,944840,NaN,NaN,NaN,NaN

In [ ]:
rr_df = pd.read_excel('/content/drive/MyDrive/Colab Notebooks/GitHub/AI-ExpertFW-Prj/dataset/renttherunway.xlsx')
rr_df.head()

,fit,user_id,bust size,item_id,weight,rating,rented for,review_text,body type,review_summary,category,height,size,age,review_date
0,fit,420272,34d,2260466,137lbs,10.0,vacation,An adorable romper! Belt and zipper were a lit...,hourglass,So many compliments!,romper,"5' 8""",14,28.0,"April 20, 2016"
1,fit,273551,34b,153475,132lbs,10.0,other,I rented this dress for a photo shoot. The the...,straight & narrow,I felt so glamourous!!!,gown,"5' 6""",12,36.0,"June 18, 2013"
2,fit,360448,NaN,1063761,NaN,10.0,party,This hugged in all the right places! It was a ...,NaN,It was a great time to celebrate the (almost) ...,sheath,"5' 4""",4,116.0,"December 14, 2015"
3,fit,909926,34c,126335,135lbs,8.0,formal affair,I rented this for my company's black tie award...,pear,Dress arrived on time and in perfect condition.,dress,"5' 5""",8,34.0,"February 12, 2014"
4,fit,151944,34b,616682,145lbs,10.0,wedding,I have always been petite in my upper body and...,athletic,Was in love with this dress !!!,gown,"5' 9""",12,27.0,"September 26, 2016"

In [ ]:
rr_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 192544 entries, 0 to 192543
Data columns (total 15 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   fit             192544 non-null  object
 1   user_id         192544 non-null  int64
 2   bust size       174133 non-null  object
 3   item_id         192544 non-null  int64
 4   weight          162562 non-null  object
 5   rating          192462 non-null  float64
 6   rented for      192534 non-null  object
 7   review_text     192481 non-null  object
 8   body type       177907 non-null  object
 9   review_summary  192194 non-null  object
 10  category        192544 non-null  object
 11  height          191867 non-null  object
 12  size            192544 non-null  int64
 13  age             191584 non-null  float64
 14  review_date     192544 non-null  object
dtypes: float64(2), int64(3), object(10)
memory usage: 22.0+ MB

In [ ]:
rr_df.describe()

,user_id,item_id,rating,size,age
count,192544.000000,1.925440e+05,192462.000000,192544.000000,191584.000000
mean,499494.100149,1.045684e+06,9.092371,12.245175,33.871017
std,289059.719328,8.053148e+05,1.430044,8.494877,8.058083
min,9.000000,1.233730e+05,2.000000,0.000000,0.000000
25%,250654.250000,1.950760e+05,8.000000,8.000000,29.000000
50%,499419.000000,9.483960e+05,10.000000,12.000000,32.000000
75%,750974.000000,1.678888e+06,10.000000,16.000000,37.000000
max,999997.000000,2.966087e+06,10.000000,58.000000,117.000000

In [42]:
g_by_userid = mc_df.groupby('user_id', axis = 0).count()

sort_size = g_by_userid.sort_values(by=['item_id'], ascending = False)

sort_size.head(100)

g_by_itemid = mc_df.groupby('item_id', axis = 0).count()

sort_size2 = g_by_itemid.sort_values(by=['user_id'], ascending = False)

,item_id,waist,size,quality,cup size,hips,bra size,category,bust,height,user_name,length,fit,shoe size,shoe width,review_summary,review_text
user_id,,,,,,,,,,,,,,,,,
754084,27,0,27,27,27,27,27,27,0,27,27,27,27,27,27,25,25
684924,25,0,25,25,25,25,25,25,0,25,25,25,25,25,0,23,23
207153,23,0,23,23,23,23,23,23,0,23,23,23,23,23,23,22,22
500375,22,0,22,22,22,22,22,22,22,22,22,22,22,22,22,20,20
352484,22,0,22,22,22,22,22,22,0,22,22,22,22,22,22,22,22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
215751,14,0,14,14,14,14,14,14,0,14,14,14,14,14,14,12,12
577036,14,0,14,14,14,0,14,14,0,14,14,14,14,0,0,14,14
299963,14,0,14,14,14,14,14,14,0,14,14,14,14,0,0,13,13
344173,14,0,14,14,14,0,14,14,0,14,14,14,14,0,0,9,9
610741,14,0,14,14,14,14,14,14,0,14,14,14,14,0,0,14,14

In [ ]:
#데이터의 특징 : 사이즈 값이 같은 사람에 따라서도 천차만별(같은 카테고리의 제품군이라도 같은사이즈가 특정인에게 적용되지 않을 수 있다)
#                옷 아이템별로도 사이즈 가이드표가 다르다(같은 치수라도 실제 사이즈는 다를 수 있음)                
#전처리 fit - length 가 just right 라고 한 사람들의 평균치로 신체사이즈가 비어있는 값을 채워넣는다. 
#사이즈 기준이 us 일 수도 있지만 uk(영국)일 수도 있어서(au, 호주도 있음) 군집분석을 통해 사이즈 표준국가군을 추측하는 것도 의미있을 듯
#fit 데이터가 과반수를 넘으므로 상당한 데이터 결측치를 보간할 수 있음

#나와 비슷한 체형조건을 가진 사람의 리뷰내용을 분석한 의상추천

In [ ]:
#미국 여자옷 사이즈 표 : https://www.sevenzone.com/bbs/board.php?bo_table=column&wr_id=377
#미국 옷 사이즈표, 여자, 남자, 아동복, 영국, 유럽 : https://m.blog.naver.com/how20909/221270457362
#https://modcloth.com/ 사이트 특정옷 구매시 사이즈별 기준신체측정치수 : https://modcloth.com/collections/sundresses/products/just-gotta-have-it-mini-dress-black-floral

In [ ]:
#https://modcloth.com/ 사이트 하의 사이즈도 여러국가별 치수로 표기될 수 있으며 하의든 상의든 서로 호환되는 치수를 가지거나 
#별도 하의 사이즈용 치수(24~32)가 있을 수 있음
##renttherunway.xlsx 사이트에서는 하의치수가 (24~32)로 된 경우 발견

In [ ]:
#renttherunway.xlsx 의 경우에는 사이트에 별도로 표준치수표는 없고 XS, S 등의 영문표기나 미국식 사이즈 숫자로만 고르도록 되어있음
#다른나라 표기와 혼용된 경우도 있음 FR 36 / US 4 이런식으로 대응되어 있도록(이 경우에는 us가 아닌 fr의 사이즈가 기록에 남는건가?? 확인이 필요해보임)
#renttherunway.xlsx 은 카테고리가 다양하므로 어떤게 하의이고 등의 기준정립과 그에따른 사이즈 기준 적용이 필요해보임

In [43]:
mc_df.shape

(82790, 18)

In [45]:
mc_df.columns

Index(['item_id', 'waist', 'size', 'quality', 'cup size', 'hips', 'bra size',
       'category', 'bust', 'height', 'user_name', 'length', 'fit', 'user_id',
       'shoe size', 'shoe width', 'review_summary', 'review_text'],
      dtype='object')

In [46]:
mc_df.columns = ['item_id', 'waist', 'size', 'quality', 'cup_size', 'hips', 'bra_size',
       'category', 'bust', 'height', 'user_name', 'length', 'fit', 'user_id',
       'shoe_size', 'shoe_width', 'review_summary', 'review_text']

In [47]:
mc_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 82790 entries, 0 to 82789
Data columns (total 18 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   item_id         82790 non-null  int64
 1   waist           2882 non-null   float64
 2   size            82790 non-null  int64
 3   quality         82722 non-null  float64
 4   cup_size        76535 non-null  object
 5   hips            56064 non-null  float64
 6   bra_size        76772 non-null  float64
 7   category        82790 non-null  object
 8   bust            11854 non-null  object
 9   height          81683 non-null  object
 10  user_name       82790 non-null  object
 11  length          82755 non-null  object
 12  fit             82790 non-null  object
 13  user_id         82790 non-null  int64
 14  shoe_size       27915 non-null  float64
 15  shoe_width      18607 non-null  object
 16  review_summary  76058 non-null  object
 17  review_text     76058 non-null  object
dtypes: float64(5), int64(3), object(10)
memory usage: 11.4+ MB

In [51]:
mc_df.describe()

,item_id,waist,size,quality,hips,bra_size,user_id,shoe_size
count,82790.000000,2882.000000,82790.000000,82722.000000,56064.000000,76772.000000,82790.000000,27915.000000
mean,469325.229170,31.319223,12.661602,3.949058,40.358501,35.972125,498849.564718,8.145818
std,213999.803314,5.302849,8.271952,0.992783,5.827166,3.224907,286356.969459,1.336109
min,123373.000000,20.000000,0.000000,1.000000,30.000000,28.000000,6.000000,5.000000
25%,314980.000000,28.000000,8.000000,3.000000,36.000000,34.000000,252897.750000,7.000000
50%,454030.000000,30.000000,12.000000,4.000000,39.000000,36.000000,497913.500000,8.000000
75%,658440.000000,34.000000,15.000000,5.000000,43.000000,38.000000,744745.250000,9.000000
max,807722.000000,50.000000,38.000000,5.000000,60.000000,48.000000,999972.000000,38.000000

In [49]:
mc_df.head()

,item_id,waist,size,quality,cup_size,hips,bra_size,category,bust,height,user_name,length,fit,user_id,shoe_size,shoe_width,review_summary,review_text
0,123373,29.0,7,5.0,d,38.0,34.0,new,36,5ft 6in,Emily,just right,small,991571,NaN,NaN,NaN,NaN
1,123373,31.0,13,3.0,b,30.0,36.0,new,NaN,5ft 2in,sydneybraden2001,just right,small,587883,NaN,NaN,NaN,NaN
2,123373,30.0,7,2.0,b,NaN,32.0,new,NaN,5ft 7in,Ugggh,slightly long,small,395665,9.0,NaN,NaN,NaN
3,123373,NaN,21,5.0,dd/e,NaN,NaN,new,NaN,NaN,alexmeyer626,just right,fit,875643,NaN,NaN,NaN,NaN
4,123373,NaN,18,5.0,b,NaN,36.0,new,NaN,5ft 2in,dberrones1,slightly long,small,944840,NaN,NaN,NaN,NaN

In [50]:
missing_data = pd.DataFrame({'total_missing': mc_df.isnull().sum(), 'perc_missing': (mc_df.isnull().sum()/82790)*100})
missing_data

                total_missing  perc_missing
item_id                     0      0.000000
waist                   79908     96.518903
size                        0      0.000000
quality                    68      0.082136
cup_size                 6255      7.555260
hips                    26726     32.281677
bra_size                 6018      7.268994
category                    0      0.000000
bust                    70936     85.681846
height                   1107      1.337118
user_name                   0      0.000000
length                     35      0.042276
fit                         0      0.000000
user_id                     0      0.000000
shoe_size               54875     66.282160
shoe_width              64183     77.525063
review_summary           6732      8.131417
review_text              6732      8.131417

In [ ]:
#아이템별로 fit : fit이고 length : just right인 사람들의 신체사이즈의 평균으로 null 값을 채우기
#그 전에 신체 사이즈에 대한 적절한 전처리부터 추가해야함

In [ ]:
#신체정보 누락 고객이 아이템을 몇개 샀는지?

In [78]:
?user_missing_cnt.sort_values

In [81]:

g_by_userid = mc_df[mc_df['hips'].isnull() == True].groupby('user_id', axis = 0).count()

user_missing_cnt = pd.DataFrame({'item_cnt': g_by_userid['item_id']}) 

user_missing_cnt.sort_values(by=['item_cnt'], ascending = False, inplace = True)

#missing value 별 인원수 통계 구해보기


g_by_userid['item_id']

sort_size = g_by_userid.sort_values(by=['item_id'], ascending = False)


mc_df_null = pd.DataFrame({'user_id': mc_df['user_id']}) 
                           
#'size_null_cnt': mc_df[mc_df['hips'].isnull() == True && mc_df['user_id'] == 'user_id'].groupby('user_id', axis = 0).count())

mc_df_null = mc_df[mc_df['hips'].isnull() == True].groupby('user_id', axis = 0).count()

mc_df['size_null_cnt'] = mc_df_null = mc_df[mc_df['hips'].isnull() == True].groupby('user_id', axis = 0).count()


df_null_size = mc_df_null_cnt.sort_values(by=['item_id'], ascending = False)

         item_cnt
user_id
499049         20
256874         19
931218         19
501870         19
544966         19
...           ...
389425          1
389681          1
389919          1
390028          1
999888          1

[16457 rows x 1 columns]